<div id="carouselExampleRide" class="carousel slide container" data-bs-ride="true">
    <div class="carousel-inner" style="justify-content: center;" >
        <div class="carousel-item active">
            <img src="assets/images/huile-d-olive_4.PNG" class="d-block w-100" alt="1">
        </div>
        <div class="carousel-item">
            <img src="assets/images/huile-d-olive_5.PNG" class="d-block w-100" alt="2">
        </div>
        <div class="carousel-item">
            <img src="assets/images/huile-d-olive_6.PNG" class="d-block w-100" alt="3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>